@import "src/code-quarkus/config";

.quarkus-blurb {

  a {
    color: $blurbLinkTextColor;
  }

  .blurb-not-again-checkbox{
    height: 30px;
    line-height: 30px;
  }

  .blurb-not-again-checkbox label{
    margin-left: 5px;
  }
}
