# Eclipse
.project
.classpath
.factorypath
.settings/
bin/
node_modules/

.quarkus/


# IntelliJ
.idea
*.ipr
*.iml
*.iws

.yarn
.bit

target/

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej


.env
