@import url(https://fonts.googleapis.com/css?family=PT+Mono);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

:root {

  --font: 'Open Sans', Arial, sans-serif;
  --inputFont: "PT Mono", Regular;

  --background: #0D1C2C;
  --background2: black;
  --background3: #0A1623;

  --textColor: white;

  --mainTitleFontWeight: 100;
  --mainTitleTextTransform: uppercase;

  --primary: #71aeef;
  --secondary: #4695eb;
  --tertiary: #be9100;

  --warningColor: #ff004a;
  --errorColor: #ff0048a8;

  --linkTextColor: var(--secondary);

  --readOnlyTextColor: #bdbcbc;
  --readonlyLabelAndBorderColor: #707070;

  --loaderColor: white;

  --buttonBorderColor: var(--primary);


  // Top container
  --topContainerTextColor: var(--textColor);
  --topContainerBg: var(--background);
  --topContainerBgImage: url("./media/bg-form-1920.jpeg");
  --topContainerBgImageWide: url("./media/bg-form-3000.jpeg");

  --fieldLabelAndBorderColor: var(--topContainerTextColor);
  --fieldLabelAndBorderHoverColor: var(--primary);
  --fieldTextColor: var(--topContainerTextColor);
  --selectOptionsTextColor: black;

  --extensionsCartButtonTextColor: var(--textColor);;
  --extensionsCartButtonBgColor: var(--background);

  --generateButtonTextColor: var(--textColor);;
  --generateButtonBgColor: var(--secondary);
  --generateButtonBorderColorOnHover: white;
  --generateButtonDisabledBgAndBorderColor: rgba(90, 149, 235, 0.342);
  --generateButtonDisabledColor: rgba(255, 255, 255, 0.384);

  --generateButtonMoreDropdownTextColor: white;
  --generateButtonMoreDropdownBg: black;
  --resetToDefaultButtonColor: var(--warningColor);

  // Main container
  --mainContainerTextColor: var(--textColor);;
  --mainContainerBg: var(--background);

  --mainContainerControlBarTextColor: white;
  --mainContainerControlBarBg: #06101A;

  // Next steps Modal
  --modalBg: var(--background);
  --modalTextColor: var(--textColor);;
  --modalBorderColor: var(--secondary);
  --modalTitleColor: var(--secondary);
  --modalLinkColor: var(--linkTextColor);

  --modalCloseButtonBg: var(--secondary);
  --modalCloseButtonBgHover: rgba(70, 149, 235, 0.548);

  --nextStepsModalDownloadButtonBg: var(--secondary);
  --nextStepsModalDownloadButtonTextColor: var(--textColor);;
  --nextStepsModalDownloadButtonBorderColorOnHover: white;

  --modalFooterButtonBg: black;
  --modalFooterButtonTextColor: var(--secondary);

  --codeBg: black;
  --codeTextColor: var(--textColor);;

  // Extensions picker
  --originPlatformColor: #cd54e1;


  --extensionsPickerTextColor: var(--mainContainerTextColor);
  --extensionsPickerIdTextColor: var(--primary);
  --extensionsPickerListBg: var(--background3);
  --extensionsPickerCheckColor: white;
  --extensionsPickerCheckSelectedHoverColor: white;
  --extensionsPickerCheckSelectedColor: var(--primary);
  --extensionsPickerCheckSelectedByDefaultColor: var(--readonlyLabelAndBorderColor);
  --extensionsPickerKeyboardActivedTextColor: var(--secondary);
  --extensionsPickerRemoveButtonColor: var(--warningColor);
  --extensionsPickerRowBorderColor: var(--background);
  --extensionsPickerRowHoverBackgroundColor: var(--secondary);

  --extensionsPickerDescriptionTextColorOnTablet: #ccc;

  --dropdownMenuBg: #363a50;
  --dropdownMenuShadow: 0 4px 12px rgba(0, 0, 0, 1);
  --dropdownMenuTextColor: var(--textColor);;

  --extensionsPickerSearchBg: transparent;
  --extensionsPickerSearchTextColor: var(--mainContainerTextColor);
  --extensionsPickerSearchBorderColor: var(--extensionsPickerSearchTextColor);
  --extensionsPickerSearchBorderColorOnFocus: var(--secondary);
  --extensionsPickerSearchPlaceholderColor: #bebebe;
  --extensionsPickerSearchClearButtonBg: #404955;
  --extensionsPickerSearchIconColor: var(--extensionsPickerSearchTextColor);
  --extensionsPickerSearchIconBg: var(--mainContainerControlBarBg);

  --selectedExtensionAlertInfoBg: black;
  --selectedExtensionAlertInfoTextColor: white;
  --clearSelectedExtensionButtonBorderColor: var(--warningColor);
  --clearSelectedExtensionButtonTextColor: var(--mainContainerTextColor);

  --extensionIconSvg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free v7.0.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--%3E%3Cpath opacity='.4' d='M-2.9 271.5C-15.7 292.9-.3 320 24.5 320L128 320c14.2-67.4 34.3-119.7 58.1-160l-95 0c-16.9 0-32.5 8.8-41.2 23.3L-2.9 271.5zM192 384l0 103.5c0 24.9 27.1 40.2 48.5 27.4L328.7 462c14.5-8.7 23.3-24.3 23.3-41.2l0-95c-40.3 23.8-92.6 43.9-160 58.1z'/%3E%3Cpath d='M128 320c59.6-283.1 224-298.9 323.6-284.3 12.8 1.9 22.8 11.9 24.6 24.6 14.6 99.6-1.2 264-284.3 323.6 0-35.3-28.7-64-64-64zM400 160a48 48 0 1 0 -96 0 48 48 0 1 0 96 0z'/%3E%3C/svg%3E");

  // Presets
  --presetsPanelBg: var(--extensionsPickerListBg);
  --presetsTitleTextColor: var(--mainContainerTextColor);
  --presetsCardBorderColor: var(--background);
  --presetsCardTextColor: var(--textColor);
  --presetsCardBackgroundColor: transparent;
  --presetsCardHoverBackgroundColor: #09141F;

  // Copy to clipboard
  --copyToClipboardBackgroundColor: var(--dropdownMenuBg);
  --copyToClipboardBodyBackgroundColor: var(--background3);
  --copyToClipboardHeaderTextColor: var(--dropdownMenuTextColor);
  --copyToClipboardBodyTextColor: var(--tertiary);

  // Header
  --headerBackgroundColor: var(--background);
  --headerBackgroundImage: url("./media/bg-header-1920.jpeg");
  --headerBackgroundImageWide: url("./media/bg-header-3000.jpeg");
  --headerTextColor: var(--textColor);;

  --headerMenuLinkTextColor: var(--textColor);;

  --headerMenuStartCodingButtonTextColor: var(--textColor);;
  --headerMenuStartCodingButtonBorderColor: var(--secondary);
  --headerMenuStartCodingButtonBg: var(--secondary);

  --headerSupportButtonTextColor: var(--textColor);;
  --headerSupportButtonBorderColor: white;
  --headerSupportButtonBackgroundColor: transparent;

  --headerSupportPanelBackgroundColor: var(--background3);
  --headerSupportPanelTextColor: var(--textColor);;

  // StreamPicker
  --streamPickerStreamIdTextColor: var(--textColor);;
  --streamPickerPlatformKeyTextColor: var(--primary);
  --streamPickerBorderColor: var(--streamPickerPlatformKeyTextColor);
  --streamPickerDropdownStreamIdTextColor: var(--streamPickerStreamIdTextColor);
  --streamPickerDropdownPlatformKeyTextColor: var(--streamPickerPlatformKeyTextColor);
  --streamPickerDropdownBackgroundColor: var(--dropdownMenuBg);
  --streamPickerDropdownCRTextColor: #c4c3c3;

  // Blurb
  --blurbBg: #193E62;
  --blurbTextColor: var(--textColor);;
  --blurbLinkTextColor: var(--linkTextColor);
  --blurbInfoIconColor: var(--primary);
}