@import "../config.scss";

.extensions-picker {
  color: $extensionsPickerTextColor;

  .main-container .extension-list-wrapper {
    .extension-category {
      border-bottom: 1px solid $extensionsPickerCategoryUnderlineColor;
      font-weight: bold;
      color: $extensionsPickerCategoryTextColor;
      font-size: 1.1rem;
      margin: 10px 0 5px 0;
      height: 30px;
    }

    .extension-category:first-child {
      margin: 0 0 5px 0;
    }

    .extension-row {
      color: $extensionsPickerTextColor;

      &.keyboard-actived {
        color: $extensionsPickerKeyboardActivedTextColor;
      }

      .extension-selector {
        flex-basis: 30px;
        order: 1;

        svg {
          vertical-align: middle;
        }
      }

      .extension-description {
        flex: 1;
        order: 4;
        line-height: 1.2rem;
        flex-basis: 100%;
      }

      .extension-summary {
        flex-basis: 350px;
        order: 2;
        flex-grow: 1;
        flex-basis: calc(100% - 62px);

        @media screen and (max-width: $mobileWidth) {
          flex-basis: calc(100% - 32px);
        }
      }

      .extension-more {
        order: 5;
        order: 3;
        flex-basis: 32px;
      }

      &.readonly {
        cursor: initial;
      }
    }
  }

  .control-container {
    position: sticky;
    top: 200px;
    display: flex;
    background-color: $mainContainerBg;
    z-index: 99;
    padding-top: 20px;

    .search-bar {
      margin: 0 auto;
      width: 100%
    }

    @media screen and (max-width: $mobileWidth) {
      display: none;
    }

    .form-group {
      svg {
        margin: 0 10px;
        width: 20px;
        vertical-align: middle;
      }
    }

    input.form-control {
      border: 1px solid $extensionsPickerSearchBorderColor;
      padding-left: 40px;
      margin-left: -40px;
      font-size: 14px;
      height: 40px;
      line-height: 40px;
      width: 100%;
      background: transparent;
      color: $extensionsPickerSearchTextColor;
      font-family: $inputFont;
      padding-bottom: 4px;
    }

    input.form-control:focus {
      outline: none;
      border: 1px solid $extensionsPickerSearchBorderColorOnFocus;
    }

    h4 {
      border-bottom: 1px solid $mainContainerTextColor;
      font-weight: bold;
      margin-top: 40px;
      margin-bottom: 20px;
    }

    .selected-extensions {
      flex-grow: 1;
      overflow: hidden;
    }

    .extension-summary {
      flex-grow: 1;
    }

    .extension-list-wrapper {
      height: calc(100% - 25px);
      overflow-y: auto;
    }
  }

  .main-container {
    margin: 0 auto;
    padding: 20px 20px 200px;

    flex-grow: 1;
    overflow: hidden;

    @media screen and (max-width: $mobileWidth) {
      margin: 5px;
      padding: 0px 0px 200px;
    }

    .extension-search-clear {
      border-bottom: 1px solid $extensionsPickerCategoryUnderlineColor;
      font-weight: bold;
      font-size: 1.1rem;
      margin: 0 0 5px 0;
      height: 30px;

      a.btn {
        cursor: pointer;
        color: $extensionsPickerSearchClearColor;
        padding: 0 3px;
      }
    }
  }
}
