@import url(https://fonts.googleapis.com/css?family=PT+Mono);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background: #000;
  font-family: "Open Sans", Regular;
}

.responsive-container {
  max-width: 1200px;

  @media screen and (max-width: 1200px) {
    max-width: 900px;
  }

  @media screen and (max-width: 900px) {
   max-width: 100%;
  }
}


.pf-c-backdrop__open {
  background: #000;
}

.pf-c-backdrop {
  background-color: rgba(0, 0, 0, 0.8) !important;
}
