@import url(https://fonts.googleapis.com/css?family=PT+Mono);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background: #000;
  font-family: "Open Sans", Regular;
}

.pf-c-backdrop__open {
  background: #000;
}

.pf-c-backdrop {
  background-color: rgba(0, 0, 0, 0.8) !important;
}
