
.info-picker {
  height: 118px;


  .base-settings {
    flex-basis: 420px;
    margin: 0 20px 0 0;
    padding: 0;
  }
  .extended-settings {
    margin: 0 0 0 20px;
    padding: 0;
  }

  @media screen and (max-width: var(--tabletWidth)) {
    .extended-settings,
    .toggle-button {
      display: none;
    }
  }

  a.toggle-button {
    cursor: pointer;
    color: var(--topContainerTextColor);
    font-size: 14px;
    text-transform: uppercase;
    text-align: left;
    white-space: nowrap;
    svg {
      margin-right: 5px;
      color: var(--topContainerTextColor);
    }
  }

  .form {
    display: grid;
    grid-gap: 10px;

    .form-group {
      position: relative;
      font-family: overpass,open sans,-apple-system,blinkmacsystemfont,Segoe UI,roboto,Helvetica Neue,arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
      .form-group-label {
        display: inline-block;
        width: 120px;
        color: var(--fieldLabelAndBorderColor);
        font-size: 14px;
        font-weight: 600;
        padding-bottom: 8px;
        margin-bottom: 0;
        text-transform: capitalize;

        .codestart-icon {
          margin-right: 5px;
          height: 12px;
          width: 15px;
        }
      }

      .is-invalid-icon {
        position: absolute;
        right: 5px;
        top: 8px;
        color: var(--warningColor);
      }

      input.form-group-control,
      select.form-group-control {
        padding: 0;
        border: none;
        margin-left: -120px;
        padding-left: 120px;
        border-bottom: 1px solid var(--fieldLabelAndBorderColor);
        font-size: 14px;
        width: 100%;
        height: 30px;
        line-height: 21px;
        background-color: transparent;
        color: var(--fieldTextColor);
        outline: none;
        font-family: var(--inputFont);
        padding-bottom: 4px;
        padding-right: 30px;
      }

      select.form-group-control > option {
        color: var(--selectOptionsTextColor);
      }

      input.form-group-control:focus {
        outline: none;
        border-bottom: 1px solid var(--fieldLabelAndBorderHoverColor);
      }

      input.form-group-control.is-invalid {
        border-bottom: 1px solid var(--warningColor);
      }
    }

    .form-group.code-switch {
      border-bottom: 1px solid var(--fieldLabelAndBorderColor);

      input {
        z-index: -1;
        opacity: 0;
        width: 0;
      }

      .code-switch-label {
        cursor: pointer;
        width: 100%;
        .code-switch-inner-label {
          display: inline-block;
          width: 120px;
        }
      }

      .code-switch-label:after {
        content: 'No';
        display: inline-block;
        color: var(--fieldTextColor);
        font-family: var(--inputFont);
        font-weight: 400;
      }

      .code-switch-control:checked ~ .code-switch-label:after {
        content: 'Yes';
      }
    }

    &.base-settings .form-group {
      .form-group-label {
        width: 80px;
      }
      .form-group-control {
        margin-left: -80px;
        padding-left: 80px;
      }
      input.form-group-control,
      select.form-group-control {
        margin-left: -80px;
        padding-left: 80px;
      }
    }
  }

  &.horizontal {
    display: flex;

    .base-settings {
      order: 1;
      flex-grow: 1;
      padding: 0 7px;
      align-self: flex-start;
      margin: 0;
    }

    .toggle-panel {
      align-self: flex-start;
      order: 4;
      flex-grow: 1;
      padding: 0 7px;
    }

    .toggle-panel.open {
      order: 2;
    }

    .toggle-button {
      flex-shrink: 1;
      order: 3;
      align-self: flex-end;
      padding: 0 10px;
    }
  }
}

