@import "theme.scss";

body {
  background: var(--background);
  font-family: var(--font);
}

.responsive-container {
  max-width: 1200px;

  @media screen and (max-width: var(--tabletWidth)) {
    max-width: 900px;
  }

  @media screen and (max-width: var(--mobileWidth)) {
    max-width: 100%;
  }
}

.mobile-only {
  @media screen and (min-width: var(--mobileWidth)) {
    display: none;
  }
}

.desktop-only {
  @media screen and (max-width: var(--mobileWidth)) {
    display: none;
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  backdrop-filter: none;
}

button.btn, a.btn {
  outline: none;
}

.loader-or-error {
  svg {
    color: var(--loaderColor);
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 550px;
  }
}

.code-quarkus-modal {

  .modal-dialog {
    margin: 150px auto;
    border: 3px solid var(--modalBorderColor);
  }

  .modal-content {
    background-color: var(--modalBg);
    color: var(--modalTextColor);
  }

  &.error-modal .modal-dialog {
    border-color: var(--warningColor);
  }

  .modal-body {
    color: var(--modalTextColor);

    a {
      color: var(--modalLinkColor);
    }

    h3 {
      margin-top: 20px;
    }

  }

  .modal-header {
    color: var(--modalTitleColor);
    font-weight: bold;
    border: none;
  }

  a.download-button {
    background-color: var(--nextStepsModalDownloadButtonBg);
    border: 1px solid var(--nextStepsModalDownloadButtonBg);
    color: var(--nextStepsModalDownloadButtonTextColor);
    border-radius: 0;
    text-transform: uppercase;
    width: 200px;
    padding: 5px;
    text-decoration: none;

    &:hover {
      border: 1px solid var(--nextStepsModalDownloadButtonBorderColorOnHover);
    }
  }

  .modal-footer {
    border: none;
    button.btn {
      cursor: pointer;
      background-color: var(--modalFooterButtonBg);
      color: var(--modalFooterButtonTextColor);
      border-radius: 0;
      border: 1px solid var(--modalFooterButtonBg);

      &:hover {
        border: 1px solid var(--modalFooterButtonTextColor);
      }

      &::after {
        display: none;
      }
    }
  }
}

code.code {
  background-color: var(--codeBg);
  color: var(--codeTextColor);
}

.dropdown-menu {
  background-color: var(--dropdownMenuBg);
  padding: 0;

  button, a {
    display: flex;
    height: 30px;
    border: none;
    line-height: 30px;
    font-weight: bold;
    width: 300px;
    padding: 0;
    color: var(--dropdownMenuTextColor);
    background-color: var(--dropdownMenuBg);
    border-left: 3px solid var(--dropdownMenuBg);

    svg {
      height: 30px;
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  button:hover, a:hover {
    text-decoration: none;
    border-left: 3px solid var(--dropdownMenuTextColor);
  }
}

.popover.copy-to-clipboard-popover {
  width: 600px;
  max-width: none;
  color: var(--dropdownMenuTextColor);
  background-color: var(--copyToClipboardBackgroundColor);
  margin-right: 10px;
  border: 1px solid var(--copyToClipboardBorderColor);

  .popover-header {
    font-size: 1rem;
    padding: 10px;
    margin-bottom: 0;
    font-weight: 100;
    background-color: var(--copyToClipboardBackgroundColor);
    border: none;
    color: var(--copyToClipboardHeaderTextColor);

    svg {
      margin-right: 10px;
    }
  }

  &.bs-popover-left .arrow {
    position: absolute;
    top: 50%;
    right: -6px;
    margin-top: -6px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid var(--copyToClipboardBorderColor);
    width: 0;
    height: 0;
  }

  &.bs-popover-top .arrow {
    position: absolute;
    left: 50%;
    bottom: -6px;
    margin-bottom: -6px;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-top: 6px solid var(--copyToClipboardBorderColor);
    width: 0;
    height: 0;
  }

  .popover-body {
    background-color: var(--copyToClipboardBodyBackgroundColor);
    border-left: 3px solid var(--copyToClipboardBodyTextColor);
    padding: 10px;
    margin: 10px;
    text-align: left;
    font-size: 0.8rem;
    color: var(--copyToClipboardBodyTextColor);
  }
}

