@import url(https://fonts.googleapis.com/css?family=PT+Mono);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import "config.scss";

body {
  background: $background;
  font-family: "Open Sans", Regular;
}

.responsive-container {
  max-width: 1200px;

  @media screen and (max-width: 1200px) {
    max-width: 900px;
  }

  @media screen and (max-width: 900px) {
    max-width: 100%;
  }
}

.mobile-only {
  @media screen and (min-width: 900px) {
    display: none;
  }
}

.desktop-only {
  @media screen and (max-width: 900px) {
    display: none;
  }
}

.pf-c-backdrop__open {
  background: $background;
}

.pf-c-backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
}

.pf-c-alert {
  background-color: #0d1c2b;
  text-align: justify;
  font-size: 0.9rem;

  .pf-c-alert__icon {
    background-color: transparent;
    color: $alert;
  }

  .pf-c-alert__title {
    font-weight: bold;
    color: $main;
  }
  .pf-c-alert__description {
    color: $main;
  }

  .pf-c-alert__action button.pf-c-button{
    &:hover {
      color: $main;
    }
  }
}

.next-steps-modal {
  background-color: $background;
  color: $main;
  border: 4px solid $highlight;
  .pf-c-content {
    color: $main;

    .pf-c-button.pf-m-link {
      padding: 0;
      color: $highlight;
    }
  }
  .pf-c-title {
    color: $highlight;
    font-weight: bold;
  }

  & > .pf-c-button {
    background-color: $highlight;
    height: 25px;
    width: 25px;
    line-height: 25px;
    vertical-align: middle;
    padding: 0;
    border-radius: 0;
    svg {
      color: $background;
    }
    &:hover {
      background-color: rgba(255, 0, 72, 0.548);
    }
  }

  code {
    display: block;
    background-color: #0d1c2b;
    margin: 10px 0;
    padding: 5px;

    .copy-to-clipboard {
      float: right;
      margin-right: 10px;
    }
  }

  .download-button {
    background-color: $highlight;
    border-radius: 0;
    text-transform: uppercase;
    width: 200px;
    &:hover {
      font-weight: bold;
    }
  }

  .pf-c-modal-box__footer {
    button.pf-c-button {
      background-color: $main;
      color: $highlight;
      border-radius: 0;
      border: 1px solid $main;
    }

    button.pf-c-button:hover {
      border: 1px solid $highlight;
      color: $highlight;
    }

    button.pf-c-button::after {
      display: none;
    }
  }
}
