@import "config.scss";

body {
  background: $background;
  font-family: $font;
}

.responsive-container {
  max-width: 1200px;

  @media screen and (max-width: $tabletWidth) {
    max-width: 900px;
  }

  @media screen and (max-width: $mobileWidth) {
    max-width: 100%;
  }
}

.mobile-only {
  @media screen and (min-width: $mobileWidth) {
    display: none;
  }
}

.desktop-only {
  @media screen and (max-width: $mobileWidth) {
    display: none;
  }
}

.pf-c-backdrop__open {
  background: $background;
}

.pf-c-backdrop {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: none;
}

button.pf-c-button, button.pf-c-dropdown__toggle, a.pf-c-dropdown__menu-item {
  outline: none;
}

.loader-or-error {
  svg {
    color: $loaderColor;
  }
}

.code-quarkus-modal {
  background-color: $modalBg;
  color: $modalTextColor;
  border: 4px solid $modalBorderColor;

  &.error-modal {
    border-color: $warningColor;
  }

  .pf-c-content {
    color: $modalTextColor;

    .pf-c-button.pf-m-link {
      padding: 0;
      color: $modalLinkColor;
    }

    a {
      color: $modalLinkColor;
    }

  }
  .pf-c-title {
    color: $modalTitleColor;
    font-weight: bold;
  }

  & > .pf-c-button {
    background-color: $modalCloseButtonBg;
    height: 25px;
    width: 25px;
    line-height: 25px;
    vertical-align: middle;
    padding: 0;
    border-radius: 0;
    svg {
      color: $modalBg;
    }
    &:hover {
      background-color: $modalCloseButtonBgHover;
    }
  }

  a.download-button {
    background-color: $nextStepsModalDownloadButtonBg;
    border: 1px solid $nextStepsModalDownloadButtonBg;
    color: $nextStepsModalDownloadButtonTextColor;
    border-radius: 0;
    text-transform: uppercase;
    width: 200px;
    &:hover {
      border: 1px solid $nextStepsModalDownloadButtonBorderColorOnHover;
    }
  }

  .pf-c-modal-box__footer {
    button.pf-c-button {
      background-color: $modalFooterButtonBg;
      color: $modalFooterButtonTextColor;
      border-radius: 0;
      border: 1px solid $modalFooterButtonBg;

      &:hover {
        border: 1px solid $modalFooterButtonTextColor;
      }

      &::after {
        display: none;
      }
    }
  }
}

code.code {
  background-color: $codeBg;
  color: $codeTextColor;
}
