
$background: #000;
$backgroundSecondary: #0d1c2b;
$primary: #71aeef;
$secondary: #ff004a;

$warning: #ff0048a8;
$readonly: #707070;
$alert: #74afed;
$highlight: #4695eb;
$main: white;

$mobileWidth: 900px;
$tabletWidth: 1200px;
