@import url(https://fonts.googleapis.com/css?family=PT+Mono);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$font: "Open Sans", Regular;
$inputFont: "PT Mono", Regular;

$background: #0d1c2c;
$backgroundSecondary: black;

$primary: #71aeef;
$secondary: #4695eb;

$warningColor: #ff004a;
$errorColor: #ff0048a8;

$linkTextColor: $secondary;

$readOnlyTextColor: #bdbcbc;
$readonlyLabelAndBorderColor: #707070;

$loaderColor: white;

// Top container
$topContainerTextColor: white;
$topContainerBg: $background;
$topContainerBgImage: url("/static/media/bg-form.jpg");

$fieldLabelAndBorderColor: $primary; 
$fieldLabelAndBorderHoverColor: $topContainerTextColor; 
$fieldTextColor: $topContainerTextColor; 
$selectOptionsTextColor: black; 

$readOnlyTextColor: #bdbcbc;
$readonlyLabelAndBorderColor: #707070;

$generateButtonTextColor: white;
$generateButtonBgColor: $secondary;
$generateButtonBorderColorOnHover: white;
$generateButtonDisabledBgAndBorderColor: rgba(90, 149, 235, 0.342);
$generateButtonDisabledColor: rgba(255, 255, 255, 0.384);

$generateButtonMoreDropdownTextColor: white;
$generateButtonMoreDropdownBg: black;

// Main container
$mainContainerTextColor: white;
$mainContainerBg: $background;

$mobileWidth: 900px;
$tabletWidth: 1200px;

// Next steps Modal
$modalBg: $background;
$modalTextColor: white;
$modalBorderColor: $secondary;
$modalTitleColor: $secondary;
$modalLinkColor: $linkTextColor;

$modalCloseButtonBg: $secondary;
$modalCloseButtonBgHover: rgba(70, 149, 235, 0.548);

$nextStepsModalDownloadButtonBg: $secondary;
$nextStepsModalDownloadButtonTextColor: white;
$nextStepsModalDownloadButtonBorderColorOnHover: white;

$modalFooterButtonBg: black;
$modalFooterButtonTextColor: $secondary;

$codeBg: black;
$codeTextColor: white;

// Extensions picker
$extensionsPickerTextColor: $mainContainerTextColor;
$extensionsPickerCheckColor: white;
$extensionsPickerCheckSelectedHoverColor: white;
$extensionsPickerCheckSelectedColor: $primary;
$extensionsPickerCheckSelectedByDefaultColor: $readonlyLabelAndBorderColor;
$extensionsPickerKeyboardActivedTextColor: $secondary;
$extensionsPickerRemoveButtonColor: $warningColor;

$extensionsPickerDescriptionTextColorOnTablet: #ccc;

$extensionsPickerMoreDropdownBg: $backgroundSecondary;
$extensionsPickerMoreDropdownTextColor: white;

$extensionsPickerCategoryTextColor: $mainContainerTextColor;
$extensionsPickerCategoryUnderlineColor: $secondary;

$extensionsPickerSearchTextColor: $mainContainerTextColor;
$extensionsPickerSearchBorderColor: $extensionsPickerSearchTextColor;
$extensionsPickerSearchBorderColorOnFocus: $secondary;
$extensionsPickerSearchClearColor: $warningColor;

$extensionsPickerFlagDefaultColor: $readonlyLabelAndBorderColor;
$extensionsPickerFlagPreviewColor: $secondary;
$extensionsPickerFlagExperimentalColor: $warningColor;
$extensionsPickerFlagCustomColor: black;

// Header
$headerBackgroundColor: $background;
$headerBackgroundImage: url("/static/media/bg-header.jpg");
$headerTextColor: white;

$headerMenuLinkTextColor: white;

$headerMenuStartCodingButtonTextColor: white;
$headerMenuStartCodingButtonBorderColor: $secondary;
$headerMenuStartCodingButtonBg: $secondary;

$headerSupportButtonTextColor: white;
$headerSupportButtonBorderColor: white;
$headerSupportButtonBackgroundColor: transparent;

$headerSupportPanelBackgroundColor: black;
$headerSupportPanelTextColor: white;

// Blurb
$blurbBg: $backgroundSecondary;
$blurbTextColor: white;
$blurbLinkTextColor: $linkTextColor;
$blurbInfoIconColor: $primary;