.code-quarkus-form {
  padding-bottom: 30px;

  @media screen and (max-width: 900px) {
    margin: 0 10px;
  }

  .form-header-sticky-container {
    position: sticky;
    top: 0;
    height: 200px;
    background-image: url("/quarkus_background_main.jpg");
    background-size: 100% 200px;
    background-repeat: no-repeat;
    z-index: 110;
    .form-header {
      display: flex;
      margin: 0 auto;
    }

    @media screen and (max-width: 900px) {
      display: none;
    }
  }

  .title h3{
    color: white;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .project-info {
    flex-basis: 75%;
    height: 170px;
    margin-top: 20px;
    .base-settings {
      margin: 0 20px 0 0;
      padding: 0;
    }
    .extended-settings {
      margin: 0 0 0 20px;
      padding: 0;
    }

    @media screen and (max-width: 1200px) {
      .extended-settings, .toggle-button { display: none; }
    }

    .pf-c-button {
      color: white;
      font-size: 14px;
      text-transform: uppercase;
      text-align: left;
      width: 233px;
      svg {
        color: #FF004A;
      }
    }
  }

  .project-extensions {
    margin: 0 auto;
    flex-basis: 100%;

    & > .title {
      text-align: center;
      margin-top: 20px;
      @media screen and (min-width: 900px) {
        display: none;
      }
    }

    .control-container {
      margin-top: 20px;
      position: sticky;
      top: 220px;
      height: 800px;

      @media screen and (max-width: 900px) {
        display: none;
      }
    }

    .result-container {
      margin-top: 20px;
    }
  }

  .generate-project {
    flex: 0 0 280px;
    align-self:center;
    margin-top: 130px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    button.main:first-child {
      border-radius: 0;
      margin-right: 1px;
    }

    .generate-button {
      li {
        list-style-type: none;
        svg {
          margin-left: 5px;
        }
      }
      &.pf-c-dropdown {
        border: 1px solid #FF004A;
        --pf-c-dropdown__toggle--BorderWidth: 0;
        --pf-c-dropdown__toggle--MinWidth: 100%;
        --pf-c-dropdown__toggle--expanded--BorderBottomWidth: 0;
        --pf-c-dropdown__toggle--active--BorderBottomWidth: 0;
        --pf-c-dropdown__toggle--focus--BorderBottomWidth: 0;
        --pf-c-dropdown__toggle--expanded--BorderBottomWidth: 0;
        --pf-c-dropdown__toggle--Color: white;
        line-height: 24px;
      }
      &.pf-c-dropdown__toggle {
        border: 0;
      }

      background-color: #FF004A;
      height: 36px;
      align-self: flex-end;
      text-align: center;
      border: 1px solid #FF004A;
      color: white;
      &:hover {
        border: 1px solid #ffffff;
      }

      &.pf-m-disabled {
        background-color: rgba(255, 0, 72, 0.342);
        border: 1px solid rgba(255, 0, 72, 0.342);
        color: rgba(255, 255, 255, 0.384);
      }
    }
  }
  .pf-c-form {
    grid-gap: 5px;
    .pf-c-form__group {
      .pf-c-form__label {
        display: inline-block;
        width: 100px;
        color: #9AFF2D;
        font-size: 14px;
        font-weight: bold;
        text-transform: capitalize;
      }

      input.pf-c-form-control {
        border: none;
        margin-left: -100px;
        padding-left: 100px;
        border-bottom: 1px solid #9AFF2D;
        font-size: 14px;
        width: 100%;
        background-color: transparent;
        color: white;
        outline: none;
        font-family: "PT Mono", Regular;
        padding-bottom: 4px;
        padding-right: 30px;
      }

      input.pf-c-form-control:focus {
        outline: none;
        border-bottom: 1px solid #4695EB;
      }
    }

  }
}