@import "config.scss";

.code-quarkus-form {
  padding-bottom: 30px;

  @media screen and (max-width: 900px) {
    margin: 0 10px;
  }

  .form-header-sticky-container {
    position: sticky;
    top: 0;
    background-color: $topContainerBg;
    background-image: $topContainerBgImage;
    background-size: 100% 220px;
    background-repeat: no-repeat;
    color: $topContainerTextColor;
    z-index: 110;
    .form-header {
      display: flex;
      margin: 0 auto;
    }

    @media screen and (max-width: 900px) {
      display: none;
    }
  }

  .title h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .project-info {
    flex-basis: 75%;
    height: 200px;
    margin-top: 20px;
    .base-settings {
      margin: 0 20px 0 0;
      padding: 0;
    }
    .extended-settings {
      margin: 0 0 0 20px;
      padding: 0;
    }

    @media screen and (max-width: $tabletWidth) {
      .extended-settings,
      .toggle-button {
        display: none;
      }
    }

    .pf-c-button {
      color: $topContainerTextColor;
      font-size: 14px;
      text-transform: uppercase;
      text-align: left;
      width: 233px;
      svg {
        color: $topContainerTextColor;
      }
    }
  }

  .project-extensions {
    margin: 0 auto;
    flex-basis: 100%;
    background-color: $mainContainerBg;
    color: $mainContainerTextColor;

    & > .title {
      color: $mainContainerTextColor;
      text-align: center;
      margin-top: 20px;
      @media screen and (min-width: $mobileWidth) {
        display: none;
      }
    }
  }

  .generate-project {
    flex: 0 0 300px;
    align-self: center;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    button.generate-button {
      background-color: $generateButtonBgColor;
      border-radius: 0;
      width: 300px;
      height: 40px;
      line-height: 40px;
      padding: 0;
      align-self: flex-end;
      text-align: center;
      border: 1px solid $generateButtonBgColor;
      color: $generateButtonTextColor;
      font-weight: bold;
      &:hover {
        border: 1px solid $generateButtonBorderColorOnHover;
      }
      &:disabled {
        background-color: $generateButtonDisabledBgAndBorderColor;
        border: 1px solid $generateButtonDisabledBgAndBorderColor;
        color: $generateButtonDisabledColor;
      }
    }
  }
  .pf-c-form {
    grid-gap: 5px;

    .pf-c-form__group {
      .pf-c-form__label {
        display: inline-block;
        width: 115px;
        color: $fieldLabelAndBorderColor;
        font-size: 14px;
        font-weight: bold;
        text-transform: capitalize;
      }

      input.pf-c-form-control,
      select.pf-c-form-control {
        border: none;
        margin-left: -115px;
        padding-left: 115px;
        border-bottom: 1px solid $fieldLabelAndBorderColor;
        font-size: 14px;
        width: 100%;
        background-color: transparent;
        color: $fieldTextColor;
        outline: none;
        font-family: $inputFont;
        padding-bottom: 4px;
        padding-right: 30px;
      }

      &.quarkus-version {
        .pf-c-form__label {
          color: $readonlyLabelAndBorderColor;
        }
        input.pf-c-form-control {
          cursor: not-allowed;
          padding-right: 82px;
          margin-right: -82px;
          color: $readOnlyTextColor;
          border-bottom: 1px solid $readonlyLabelAndBorderColor;

          &:focus {
            border-bottom: 1px solid $readonlyLabelAndBorderColor;
          }
        }
        &:after {
          content: "READ-ONLY";
          float: right;
          color: $readonlyLabelAndBorderColor;
          font-size: 11px;
          padding: 2px;
          margin-top: 7px;
          margin-right: 5px;
          border: 1px solid $readonlyLabelAndBorderColor;
        }
      }

      select.pf-c-form-control {
        --pf-c-form-control__select--Background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%2371aeef' d='M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z'/%3E%3C/svg%3E")
          calc(100% - 0.5rem) center/0.875rem no-repeat;
      }

      select.pf-c-form-control > option {
        color: $selectOptionsTextColor;
      }

      input.pf-c-form-control:focus {
        outline: none;
        border-bottom: 1px solid $fieldLabelAndBorderHoverColor;
      }
    }

    &.base-settings .pf-c-form__group {
      .pf-c-form__label {
        width: 80px;
      }
      input.pf-c-form-control,
      select.pf-c-form-control {
        margin-left: -80px;
        padding-left: 80px;
      }
    }
  }
}
