@import "config.scss";

.header {
  height: 70px;
  background-color: $headerBackgroundColor;
  background-image: $headerBackgroundImage;
  background-size: 100% 70px;
  background-repeat: repeat-x;
  color: $headerTextColor;

  .header-content {
    grid-column: span 12;
    align-items: center;
    width: 100%;
    margin: 0 auto;

    .nav-container {
      max-width: 1000px;
      margin: 0 auto;
      float: right;

      a {
        display: inline-block;
        color: $headerMenuLinkTextColor;
        padding: 0 10px;
        text-decoration: none;
        line-height: 70px;
        height: 55px;
        font-size: 1rem;


        svg {
          transition: 0.3s ease-in-out;
        }
      }

      a:hover svg {
        transform: translate(-10px);
      }
    }
    .brand {
      display: inline-block;
      margin-top: 1.2rem;
      width: 13rem;
      @media screen and (max-width: 900px) {
        margin-left: 20px;
      }
    }
  }
}
