@import "config.scss";

.header {
  height: 70px;
  background-image: url("/bg-header.jpg");
  background-size: 1920px 70px;
  background-repeat: no-repeat;

  .header-content {
    grid-column: span 12;
    align-items: center;
    padding: 0 13rem;
    margin: 0 0 6rem 0;

    .nav-container {
      max-width: 1000px;
      margin: 0 auto;
      display: inline;
    }
    .brand {
      display: inline-block;
      margin-top: 1.2rem;
      width: 13rem;
    }

    .nav-list {
      float: right;
      text-transform: uppercase;
      white-space: nowrap;

      @media screen and (max-width: 1200px) {
        font-size: 1rem;
      }

      @media screen and (max-width: 900px) {
        display: none;
      }

      li {
        float: left;
        position: relative;
        margin: 0;
      }

      a {
        color: $main;
        padding: 0 10px;
        text-decoration: none;
        line-height: 70px;
        height: 55px;
        font-size: 1.3rem;
      }
      a:hover {
        border-bottom: 3px solid $main;
      }
      a.active {
        text-decoration: none;
        color: $main;
        border: 2px solid $main;
        padding: .4rem 1rem;
        margin-top: 1rem;
        &:hover {
          border: 2px solid $highlight;
          background-color: $highlight;
          border-bottom: 0;
        }
      }
    }
  }
}
