@import "./config.scss";

.pf-c-alert.quarkus-blurb {
  margin-bottom: 20px;

  background-color: $blurbBg;
  text-align: justify;
  font-size: 0.9rem;

  .pf-c-alert__icon {
    background-color: transparent;
    color: $blurbInfoIconColor;
  }

  .pf-c-alert__title {
    font-weight: bold;
    color: $blurbTextColor;
  }
  .pf-c-alert__description {
    color: $blurbTextColor;
  }

  .pf-c-alert__action button.pf-c-button {
    &:hover {
      color: $blurbTextColor;
    }
  }

  a {
    color: $blurbLinkTextColor;
  }
}
