@import url(https://fonts.googleapis.com/css?family=PT+Mono);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

:root {

  --mobileWidth: 900px;
  --tabletWidth: 1200px;

  --font: 'Open Sans', Arial, sans-serif;
  --inputFont: "PT Mono", Regular;

  --background: #0d1c2c;
  --background2: black;
  --background3: #282A39;

  --primary: #71aeef;
  --secondary: #4695eb;
  --tertiary: #be9100;

  --warningColor: #ff004a;
  --errorColor: #ff0048a8;

  --linkTextColor: var(--secondary);

  --readOnlyTextColor: #bdbcbc;
  --readonlyLabelAndBorderColor: #707070;

  --loaderColor: white;

  // Top container
  --topContainerTextColor: white;
  --topContainerBg: var(--background);
  --topContainerBgImage: url("/media/bg-form.jpg");

  --fieldLabelAndBorderColor: var(--primary);
  --fieldLabelAndBorderHoverColor: var(--topContainerTextColor);
  --fieldTextColor: var(--topContainerTextColor);
  --selectOptionsTextColor: black;

  --extensionsCartButtonTextColor: white;
  --extensionsCartButtonBgColor: var(--background);

  --generateButtonTextColor: white;
  --generateButtonBgColor: var(--secondary);
  --generateButtonBorderColorOnHover: white;
  --generateButtonDisabledBgAndBorderColor: rgba(90, 149, 235, 0.342);
  --generateButtonDisabledColor: rgba(255, 255, 255, 0.384);

  --generateButtonMoreDropdownTextColor: white;
  --generateButtonMoreDropdownBg: black;

  // Main container
  --mainContainerTextColor: white;
  --mainContainerBg: var(--background);

  // Next steps Modal
  --modalBg: var(--background);
  --modalTextColor: white;
  --modalBorderColor: var(--secondary);
  --modalTitleColor: var(--secondary);
  --modalLinkColor: var(--linkTextColor);

  --modalCloseButtonBg: var(--secondary);
  --modalCloseButtonBgHover: rgba(70, 149, 235, 0.548);

  --nextStepsModalDownloadButtonBg: var(--secondary);
  --nextStepsModalDownloadButtonTextColor: white;
  --nextStepsModalDownloadButtonBorderColorOnHover: white;

  --modalFooterButtonBg: black;
  --modalFooterButtonTextColor: var(--secondary);

  --codeBg: black;
  --codeTextColor: white;

  // Extensions picker
  --extensionsPickerTextColor: var(--mainContainerTextColor);
  --extensionsPickerCheckColor: white;
  --extensionsPickerCheckSelectedHoverColor: white;
  --extensionsPickerCheckSelectedColor: var(--primary);
  --extensionsPickerCheckSelectedByDefaultColor: var(--readonlyLabelAndBorderColor);
  --extensionsPickerKeyboardActivedTextColor: var(--secondary);
  --extensionsPickerRemoveButtonColor: var(--warningColor);

  --extensionsPickerDescriptionTextColorOnTablet: #ccc;

  --dropdownMenuBg: var(--background3);
  --dropdownMenuTextColor: white;

  --extensionsPickerCategoryTextColor: var(--mainContainerTextColor);
  --extensionsPickerCategoryUnderlineColor: var(--secondary);

  --extensionsPickerSearchTextColor: var(--mainContainerTextColor);
  --extensionsPickerSearchBorderColor: var(--extensionsPickerSearchTextColor);
  --extensionsPickerSearchBorderColorOnFocus: var(--secondary);
  --extensionsPickerSearchClearColor: var(--warningColor);

  --extensionsPickerFlagExampleColor: var(--primary);
  --extensionsPickerFlagPreviewColor: var(--secondary);
  --extensionsPickerFlagExperimentalColor: var(--warningColor);
  --extensionsPickerFlagDeprecatedColor: var(--readonlyLabelAndBorderColor);
  --extensionsPickerFlagCustomColor: black;
  --extensionsPickerFlagCodeColor: var(--tertiary);

  //Copy to clipboard
  --copyToClipboardBackgroundColor: var(--background2);
  --copyToClipboardBodyBackgroundColor: #1f1f1f;
  --copyToClipboardHeaderTextColor: white;
  --copyToClipboardBodyTextColor: var(--tertiary);
  --copyToClipboardBorderColor: var(--primary);

  // Header
  --headerBackgroundColor: var(--background);
  --headerBackgroundImage: url("/media/bg-header.jpg");
  --headerTextColor: white;

  --headerQuarkusVersionTextColor: white;
  --headerQuarkusVersionBorderColor: var(--primary);

  --headerMenuLinkTextColor: white;

  --headerMenuStartCodingButtonTextColor: white;
  --headerMenuStartCodingButtonBorderColor: var(--secondary);
  --headerMenuStartCodingButtonBg: var(--secondary);

  --headerSupportButtonTextColor: white;
  --headerSupportButtonBorderColor: white;
  --headerSupportButtonBackgroundColor: transparent;

  --headerSupportPanelBackgroundColor: var(--background3);
  --headerSupportPanelTextColor: white;

  // Blurb
  --blurbBg: #193E62;
  --blurbTextColor: white;
  --blurbLinkTextColor: var(--linkTextColor);
  --blurbInfoIconColor: var(--primary);
}