.launcher-container {
  background-color: #EDEDED;
  padding: 20px 20px 100px;
}

body {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk4BH7DwABWQEjeBQ2bAAAAABJRU5ErkJggg==);
  background-repeat: repeat-y;
  background-size: 275px 1px;
}

.quarkus-form-container {
  margin: 50px auto;

  .brand-image {
    background-image: url('/quarkus_logo_horizontal.svg');
    background-repeat: no-repeat;
    background-origin: content-box;
    height: 35px;
    padding-left: 15px;
    margin-bottom: 10px;
  }

  .pf-c-form-control {
    border: none;
    border-bottom: 2px solid #BBE1F2;
  }

  .pf-c-form-control:focus {
    border: none;
    border-bottom: 2px solid #4A97E8;
    outline: none;
  }

  .pf-c-form__label {
    color: #54626B
  }

  .pf-c-form {
    max-width: 500px;
  }

  .row {
    display: flex;
    min-width: 900px;
    .header {
      width: 280px;
      text-align: right;
      padding: 8px 32px 8px 0;
      flex: 280px 0 0;
      h3 {
        font-weight: 700;
        color: #fff;
      }
      .pf-m-link {
        color: cyan;
        text-decoration: underline;
      }
      .pf-m-link:hover, .pf-m-link:active, .pf-m-link:focus {
        color: teal;
      }
    }
    .form {
      padding: 8px 0 8px 32px;
      flex: 2;
      max-width: 1000px;
    }
  }
  .footer {
    position: fixed;
    bottom: 0;
    min-width: 100%;
    .form {
      border-top: 1px solid #ccc;
      padding-top: 20px;
      background-color: #fff;
      button {
        padding: 12px 32px;
      }
    }
  }
}

@media (max-width: 900px) {
  body {
      background: 0 0;
      padding-bottom: 94px;
      min-width: 0;
  }

  .quarkus-form-container {
    margin: 25px auto;
    .brand-image {
      background-image: url('/quarkus_logo_horizontal_default.svg');
      height: 25px;
      padding-left: 15px;
    }

    .footer {
      position: initial;
    }

    .row {
      display: block;
      max-width: none;
      min-width: 0;
      padding: 16px;

      .header {
        text-align: left;
        padding: 0;
        max-width: none;
        min-width: 0;

        .pf-m-link {
          color: #007bba;
          text-decoration: none;
        }
        .pf-m-link:hover, .pf-m-link:active, .pf-m-link:focus {
          color: #004080;
        }
      }

      .form {
        padding: 0;
        max-width: none;
        min-width: 0;
      }
    }
  }
}