@import url(https://fonts.googleapis.com/css?family=PT+Mono);
@import "./red-hat-font.scss";
@include printRedHatFont(400, "Regular", $familyName: "RedHatText", $relative: false);
@include printRedHatFont(700, "Medium", $familyName: "RedHatText", $relative: false);

:root {

  --font: RedHatText, Regular;
  --inputFont: "PT Mono", Regular;

  --background: white;
  --background2: #f0f0f0;
  --background3: #404040;

  --primary: #646464;
  --secondary: #EB0B19;
  --tertiary: #be9100;

  --warningColor: #ff004a;
  --errorColor: #ff0048a8;

  --linkTextColor: var(--secondary);

  --readOnlyTextColor: #a8a7a7;
  --readonlyLabelAndBorderColor: #999999;

  --loaderColor: var(--primary);

  --buttonBorderColor: var(--primary);

  // Top container
  --topContainerTextColor: black;
  --topContainerBg: var(--background2);
  --topContainerBgImage: none;
  --topContainerBgImageWide: none;

  --fieldLabelAndBorderColor: var(--primary);
  --fieldLabelAndBorderHoverColor: var(--secondary);
  --fieldTextColor: var(--topContainerTextColor);
  --selectOptionsTextColor: black;

  --extensionsCartButtonTextColor: white;
  --extensionsCartButtonBgColor: var(--background3);

  --generateButtonTextColor: white;
  --generateButtonBgColor: var(--secondary);
  --generateButtonBorderColorOnHover: black;
  --generateButtonDisabledBgAndBorderColor: rgba(90, 149, 235, 0.342);
  --generateButtonDisabledColor: rgba(255, 255, 255, 0.384);

  --generateButtonMoreDropdownTextColor: black;
  --generateButtonMoreDropdownBg: #d4d4d4;
  --resetToDefaultButtonColor: var(--warningColor);

  // Main container
  --mainContainerTextColor: black;
  --mainContainerBg: var(--background);

  // Next steps Modal
  --modalBg: var(--background);
  --modalTextColor: black;
  --modalBorderColor: var(--secondary);
  --modalTitleColor: var(--secondary);
  --modalLinkColor: var(--linkTextColor);

  --modalCloseButtonBg: var(--primary);
  --modalCloseButtonBgHover: var(--secondary);

  --nextStepsModalDownloadButtonBg: var(--secondary);
  --nextStepsModalDownloadButtonTextColor: white;
  --nextStepsModalDownloadButtonBorderColorOnHover: black;

  --modalFooterButtonBg: var(--background2);
  --modalFooterButtonTextColor: var(--secondary);

  --codeBg: #2b2b2b;
  --codeTextColor: white;

  // Extensions picker
  --switchOriginSelectedTextColor: var(--mainContainerTextColor);
  --switchOriginTextColor: #8d8d8d;
  --originPlatformColor: #cd54e1;

  --extensionsPickerTextColor: var(--mainContainerTextColor);
  --extensionsPickerIdTextColor: var(--secondary);
  --extensionsPickerCheckColor: var(--mainContainerTextColor);
  --extensionsPickerCheckSelectedHoverColor: var(--mainContainerTextColor);
  --extensionsPickerCheckSelectedColor: #0F69C9;
  --extensionsPickerCheckSelectedByDefaultColor: var(--readonlyLabelAndBorderColor);
  --extensionsPickerKeyboardActivedTextColor: #0F69C9;
  --extensionsPickerRemoveButtonColor: var(--warningColor);

  --extensionsPickerDescriptionTextColorOnTablet: #636363;

  --dropdownMenuBg: var(--background2);
  --dropdownMenuTextColor: black;

  --extensionsPickerCategoryTextColor: var(--mainContainerTextColor);
  --extensionsPickerCategoryUnderlineColor: #7f7f7f;

  --extensionsPickerSearchTextColor: var(--mainContainerTextColor);
  --extensionsPickerSearchBorderColor: black;
  --extensionsPickerSearchBorderColorOnFocus: var(--secondary);
  --extensionsPickerSearchClearColor: var(--warningColor);

  //Copy to clipboard
  --copyToClipboardBackgroundColor: rgba(215, 215, 215, 0.90);
  --copyToClipboardBodyBackgroundColor: var(--background);
  --copyToClipboardHeaderTextColor: #5f5f5f;
  --copyToClipboardBodyTextColor: var(--tertiary);

  // Header
  --headerBackgroundColor: #1A1A1A;
  --headerBackgroundImage: none;
  --headerBackgroundImageWide: none;
  --headerTextColor: white;

  --headerMenuLinkTextColor: white;

  // StreamPicker
  --streamPickerStreamIdTextColor: white;
  --streamPickerPlatformKeyTextColor: var(--secondary);
  --streamPickerBorderColor: var(--streamPickerPlatformKeyTextColor);
  --streamPickerDropdownStreamIdTextColor: black;
  --streamPickerDropdownPlatformKeyTextColor: var(--streamPickerPlatformKeyTextColor);
  --streamPickerDropdownBackgroundColor: white;
  --streamPickerDropdownCRTextColor: #505050;

  // Blurb
  --blurbBg: var(--background2);
  --blurbTextColor: black;
  --blurbLinkTextColor: var(--linkTextColor);
  --blurbInfoIconColor: var(--primary);
}
