
.animate-spin {

  svg {
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    100% { transform: rotate(360deg); }
  }
}

.loader-or-error {
  text-align: center;
  margin: 50px 0;
}

code.code {
  display: block;
  margin: 10px 0;
  padding: 5px;

  .copy-to-clipboard {
    float: right;
    margin-right: 10px;
    padding: 5px;
  }

  .content {
    vertical-align: middle;
    padding: 5px;
    display: inline-block;
    white-space: nowrap;
    overflow-x: scroll;
    line-height: 20px;
    max-width: calc(100% - 50px);
  }
}