@import "src/code-quarkus/config";

.quarkus-project-edition-form {
  padding-bottom: 30px;

  @media screen and (max-width: 900px) {
    margin: 0 10px;
  }

  .form-header-sticky-container {
    position: sticky;
    top: 0;
    background-color: $topContainerBg;
    background-image: $topContainerBgImage;
    background-size: 100% 220px;
    background-repeat: no-repeat;
    color: $topContainerTextColor;
    z-index: 110;
    .form-header {
      display: flex;
      margin: 0 auto;
    }

    @media screen and (max-width: 900px) {
      display: none;
    }
  }

  .title h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 100;
    margin-bottom: 20px;
  }

  .project-info {
    flex-basis: 75%;
    height: 190px;
    margin-bottom: 10px;

    .title {
      height: 72px;
      line-height: 72px;

      display: flex;

      .quarkus-version {
        font-size: 1rem;
        line-height: 20px;
        margin: 5px 5px;
        padding: 0 3px;
        height: 20px;
        text-transform: uppercase;
        border: 1px solid white;
      }
    }
  }

  .project-extensions {
    margin: 0 auto;
    flex-basis: 100%;
    background-color: $mainContainerBg;
    color: $mainContainerTextColor;

    & > .title {
      color: $mainContainerTextColor;
      text-align: center;
      margin-top: 20px;
      @media screen and (min-width: $mobileWidth) {
        display: none;
      }
    }
  }
}
