.extensions-picker {
  display: flex;
  color: white;

  .control-container {
    flex: 0 0 350px;

    .pf-c-form__group {
      svg {
        margin: 0 10px;
      }
    }

    input.pf-c-form-control {
      border: 1px solid #9aff2d;
      padding-left: 40px;
      margin-left: -40px;
      font-size: 14px;
      width: 100%;
      background: transparent;
      color: white;
      font-family: "PT Mono", Regular;
      padding-bottom: 4px;
    }

    input.pf-c-form-control:focus {
      outline: none;
      border: 1px solid #4695eb;
    }

    h4 {
      border-bottom: 1px solid #ff004a;
      font-weight: bold;
      margin-top: 40px;
      margin-bottom: 20px;
    }
    .extension-list {
      display: grid;
      grid-template-columns: auto 30px;
      .extension-item {
        cursor: pointer;
        display: contents;
      }
    }
  }

  .extension-item {
    cursor: pointer;

    svg {
      pointer-events: none;
    }

    .extension-selector {
      color: #fff;
    }

    &.selected {
      .extension-selector {
        color: #71aeef;
      }
    }

    &.active.selected {
      .extension-selector {
        color: #fff;
      }
    }

    .extension-remove {
      color: #ff004a;
    }

    & div:focus {
      outline: none;
    }

    .extension-selector {
      max-width: 10px;

      @media screen and (max-width: 900px) {
        display: none;
      }
    }

    .extension-name {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: 0.9rem;
      font-weight: bold;
      height: 24px;
    }

    .extension-details {
      display: contents;
    }

    .extension-description {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: 0.8rem;
    }

    .extension-gav {
      max-width: 150px;
      direction: rtl;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      text-align: right;
      font-size: 0.8rem;

      @media screen and (max-width: 900px) {
        display: none;
      }
    }
  }
}

.result-container {
  margin-left: 30px;
  flex-grow: 1;

  @media screen and (max-width: 900px) {
    margin: 5px;
  }

  .extension-search-clear {
    border-bottom: 1px solid #4695eb;
    font-weight: bold;
    font-size: 1.1rem;
    margin: 0 0 5px 0;
    height: 30px;
    .pf-c-button.pf-m-link {
      color: #ff004a;
      padding: 0 3px;
    }
  }
}

.list-container {
  display: grid;
  grid-template-columns: 30px 300px auto 30px;

  @media screen and (max-width: 900px) {
    grid-template-columns: 150px auto;
  }

  .extension-category {
    grid-column: 1 / span 4;
    border-bottom: 1px solid #4695eb;
    font-weight: bold;
    font-size: 1.1rem;
    margin: 10px 0 5px 0;
    height: 30px;

    @media screen and (max-width: 900px) {
      grid-column: 1 / span 2;
    }
  }

  .extension-category:first-child {
    margin: 0 0 5px 0;
  }

  .extension-item {
    cursor: pointer;
    color: white;
    display: contents;

    & > div {
      margin: 0 10px;
    }
  }
}

@supports (not (display: contents)) {
  .extensions-picker .extension-item .extension-selector {
    max-width: 30px;
  }

  .extensions-picker .control-container .extension-list {
    display: table;
    .extension-item {
      display: table-row;
      .extension-name {
        display: table-cell;
        width: 90%;
      }
      .extension-remove {
        display: table-cell;
        width: 10%;
      }
    }
  }

  .list-container {
    display: table;
    width: 100%;
    table-layout: fixed;
    .extension-selector {
      display: table-cell;
      width: 30px;
    }
    .extension-name {
      display: table-cell;
      width: 300px;
    }
    .extension-details {
      .extension-description {
        display: inline;
      }
      .extension-gav {
        float: right;
      }  
    }
    .extension-item > div {
      margin: 0;
    }
  }
}