@import "../config.scss";

.extensions-picker {
  display: flex;
  color: $extensionsPickerTextColor;

  .extension-item {
    display: flex;
    width: 100%;
    line-height: 30px;
    cursor: pointer;

    @media screen and (max-width: $tabletWidth) {
      flex-wrap: wrap;
    }

    svg {
      pointer-events: none;
    }

    .extension-selector {
      color: $extensionsPickerCheckColor;
    }

    &.selected .extension-selector {
      color: $extensionsPickerCheckSelectedColor;
    }

    &.hover.selected .extension-selector  {
      color: $extensionsPickerCheckSelectedHoverColor;
    }

    &.by-default .extension-selector {
      color: $extensionsPickerCheckSelectedByDefaultColor !important;
    }

    div:focus {
      outline: none;
    }

    .extension-remove {
      color: $extensionsPickerRemoveButtonColor;
      height: 30px;
    }

    .extension-selector {

      @media screen and (max-width: $mobileWidth) {
        display: none;
      }
    }

    .extension-summary {
      overflow: hidden;
      display: flex;
    }

    .extension-name {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: 0.8rem;
      font-weight: bold;
      height: 24px;
      outline: none;
    }

    .extension-tag {
      font-size: 0.6rem;
      line-height: 20px;
      margin: 5px 5px;
      padding: 0 3px;
      height: 20px;

      &.preview {
        border: 1px solid $extensionsPickerFlagPreviewColor;
      }

      &.experimental {
        border: 1px solid $extensionsPickerFlagExperimentalColor;
      }

      &.default {
        border: 1px solid $extensionsPickerFlagDefaultColor;
      }
    }

    .extension-details {
      display: contents;
    }

    .extension-description {
      font-size: 0.8rem;
      
      @media screen and (min-width: $tabletWidth) {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      @media screen and (max-width: $tabletWidth) {
        color: $extensionsPickerDescriptionTextColorOnTablet;
      }
    }

    .extension-more {
      max-width: 150px;
      font-size: 0.8rem;

      .pf-c-dropdown {
        border: 0;
        &.pf-m-expanded {
          background-color: $extensionsPickerMoreDropdownBg;
        }
      }
      .pf-c-dropdown__menu {
        right: 0;
        top: 30px;
        background-color: $extensionsPickerMoreDropdownBg;
        padding: 0;
        li {
          background-color: $extensionsPickerMoreDropdownBg;
          a {
            color: $extensionsPickerMoreDropdownTextColor;
            background-color: $extensionsPickerMoreDropdownBg;
            border-right: 2px solid $extensionsPickerMoreDropdownBg;
            svg {
              margin-right: 20px;
            }
          }
          a:hover {
            border-right: 2px solid $extensionsPickerMoreDropdownTextColor;
          }
        }
      }
      button.pf-c-dropdown__toggle {
        color: $extensionsPickerTextColor;
        min-width: 0;
        height: 30px;
        outline: none;
      }
      button.pf-c-dropdown__toggle:before {
        border: 0;
      }
    }
  }

  .main-container .extension-list-wrapper {
    .extension-category {
      border-bottom: 1px solid $extensionsPickerCategoryUnderlineColor;
      font-weight: bold;
      color: $extensionsPickerCategoryTextColor;
      font-size: 1.1rem;
      margin: 10px 0 5px 0;
      height: 30px;
    }

    .extension-category:first-child {
      margin: 0 0 5px 0;
    }

    .extension-item {
      color: $extensionsPickerTextColor;

      &.keyboard-actived {
        color: $extensionsPickerKeyboardActivedTextColor;
      }

      .extension-selector {
        flex-basis: 30px;
        order: 1;
      }
      .extension-description {
        flex: 1;
        order: 4;
        @media screen and (max-width: $tabletWidth) {
          line-height: 1.2rem;
         
          flex-basis: 100%;
        }
      }

      .extension-summary {
        flex-basis: 350px;
        order: 2;
       
        @media screen and (max-width: $tabletWidth) {
          flex-grow: 1;
          flex-basis: calc(100% - 62px);
        }

        @media screen and (max-width: $mobileWidth) {
          flex-basis: calc(100% - 32px);
        }
      }

      .extension-more {
        order: 5;
         @media screen and (max-width: $tabletWidth) {
          order: 3;
          flex-basis: 32px;
        }
      }

      &.readonly {
        cursor: initial;
      }
    }
  }

  .control-container {
    flex: 0 0 350px;
    overflow: hidden;
    padding-top: 20px;
    position: sticky;
    top: 220px;
    height: 800px;

    @media screen and (max-width: $mobileWidth) {
      display: none;
    }

    .pf-c-form__group {
      svg {
        margin: 0 10px;
        width: 20px;
      }
    }

    input.pf-c-form-control {
      border: 1px solid $extensionsPickerSearchBorderColor;
      padding-left: 40px;
      margin-left: -40px;
      font-size: 14px;
      width: 100%;
      background: transparent;
      color: $extensionsPickerSearchTextColor;
      font-family: $inputFont;
      padding-bottom: 4px;
    }

    input.pf-c-form-control:focus {
      outline: none;
      border: 1px solid $extensionsPickerSearchBorderColorOnFocus;
    }

    h4 {
      border-bottom: 1px solid $mainContainerTextColor;
      font-weight: bold;
      margin-top: 40px;
      margin-bottom: 20px;
    }
    .extension-summary {
      flex-grow: 1;
    }
  }

  .main-container {
    margin-left: 30px;
    margin-top: 20px;
    flex-grow: 1;
    overflow: hidden;

    @media screen and (max-width: $mobileWidth) {
      margin: 5px;
    }

    .extension-search-clear {
      border-bottom: 1px solid $extensionsPickerCategoryUnderlineColor;
      font-weight: bold;
      font-size: 1.1rem;
      margin: 0 0 5px 0;
      height: 30px;
      .pf-c-button.pf-m-link {
        color: $extensionsPickerSearchClearColor;
        padding: 0 3px;
      }
    }
  }

  @supports (not (display: contents)) {
    .extension-item .extension-selector {
      max-width: 30px;
    }

    .control-container .extension-list-wrapper {
      display: table;
      .extension-item {
        display: table-row;
        .extension-summary {
          display: table-cell;
          width: 90%;
        }
        .extension-remove {
          display: table-cell;
          width: 10%;
        }
      }
    }

    .main-container .extension-list-wrapper {
      display: table;
      width: 100%;
      table-layout: fixed;
      .extension-selector {
        display: table-cell;
        width: 30px;
      }
      .extension-summary {
        display: table-cell;
        width: 300px;
      }
      .extension-details {
        width: 100%;
        .extension-description {
          display: inline;
        }
        .extension-gav {
          float: right;
        }
      }
      .extension-item > div {
        margin: 0;
      }
    }
  }
}
