@import "../config.scss";

.extensions-picker {
  display: flex;
  color: $main;

  .extension-item {
    display: flex;
    width: 100%;
    line-height: 30px;
    cursor: pointer;
    svg {
      pointer-events: none;
    }

    &.selected {
      .extension-selector {
        color: $alert;
      }
    }

    &.hover.selected {
      .extension-selector {
        color: $main;
      }
    }

    .extension-remove {
      color: $secondary;
      height: 30px;
    }

    & div:focus {
      outline: none;
    }

    .extension-selector {
      max-width: 10px;

      @media screen and (max-width: 900px) {
        display: none;
      }
    }

    .extension-summary {
      overflow: hidden;
      display: flex;
    }
    .extension-name {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: 0.8rem;
      font-weight: bold;
      height: 24px;
      outline: none;
    }

    .extension-status {
      font-size: 0.6rem;
      line-height: 20px;
      margin: 5px 5px;
      padding: 0 3px;
      border: 1px solid $highlight;
    }

    .extension-details {
      display: contents;
    }

    .extension-description {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: 0.8rem;

      @media screen and (max-width: 1200px) {
        display: none;
      }
    }

    .extension-gav {
      max-width: 150px;
      direction: rtl;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      text-align: right;
      font-size: 0.8rem;

      @media screen and (max-width: 900px) {
        display: none;
      }
    }
  }

  .list-container {
    .extension-category {
      border-bottom: 1px solid $highlight;
      font-weight: bold;
      font-size: 1.1rem;
      margin: 10px 0 5px 0;
      height: 30px;
    }

    .extension-category:first-child {
      margin: 0 0 5px 0;
    }

    .extension-item {
      height: 30px;
      color: $main;

      & > div {
        margin: 0 10px;
      }

      &.keyboard-actived {
        color: $highlight;
      }

      .extension-selector {
        flex-basis: 30px;
      }
      .extension-description {
        flex: 1;
      }

      .extension-summary {
        flex-basis: 350px;

        @media screen and (max-width: 1200px) {
          flex-grow: 1;
        }
      }

      .extension-gav {
        flex-basis: 30px;
        color: $main;
      }

      &.readonly {
        cursor: initial;
      }
    }
  }

  .control-container {
    flex: 0 0 350px;
    overflow: hidden;

    .pf-c-form__group {
      svg {
        margin: 0 10px;
      }
    }

    input.pf-c-form-control {
      border: 1px solid $main;
      padding-left: 40px;
      margin-left: -40px;
      font-size: 14px;
      width: 100%;
      background: transparent;
      color: $main;
      font-family: "PT Mono", Regular;
      padding-bottom: 4px;
    }

    input.pf-c-form-control:focus {
      outline: none;
      border: 1px solid $highlight;
    }

    h4 {
      border-bottom: 1px solid $readonly;
      font-weight: bold;
      margin-top: 40px;
      margin-bottom: 20px;
    }
    .extension-summary {
      flex-grow: 1;
    }
  }

  .result-container {
    margin-left: 30px;
    flex-grow: 1;
    overflow: hidden;

    @media screen and (max-width: 900px) {
      margin: 5px;
    }

    .extension-search-clear {
      border-bottom: 1px solid $highlight;
      font-weight: bold;
      font-size: 1.1rem;
      margin: 0 0 5px 0;
      height: 30px;
      .pf-c-button.pf-m-link {
        color: $secondary;
        padding: 0 3px;
      }
    }
  }
}

@supports (not (display: contents)) {
  .extensions-picker .extension-item .extension-selector {
    max-width: 30px;
  }

  .extensions-picker .control-container .extension-list {
    display: table;
    .extension-item {
      display: table-row;
      .extension-summary {
        display: table-cell;
        width: 90%;
      }
      .extension-remove {
        display: table-cell;
        width: 10%;
      }
    }
  }

  .list-container {
    display: table;
    width: 100%;
    table-layout: fixed;
    .extension-selector {
      display: table-cell;
      width: 30px;
    }
    .extension-summary {
      display: table-cell;
      width: 300px;
    }
    .extension-details {
      width: 100%;
      .extension-description {
        display: inline;
      }
      .extension-gav {
        float: right;
      }
    }
    .extension-item > div {
      margin: 0;
    }
  }
}
