.info-picker {
  
  &.horizontal {
    display: flex;

    .base-settings {
      order: 1;
      flex-grow: 1;
      padding: 0 7px;
      align-self: flex-start;
      margin: 0;
    }

    .toggle-panel {
      align-self: flex-start;
      order: 4;
      flex-grow: 1;
      padding: 0 7x;
     
    }

    .toggle-panel.open {
      order: 2;
    }

    .toggle-button {
      flex-shrink: 1;
      order: 3;
      align-self: flex-end;
      padding: 0 10px;
    }
    
  }
}