.search-bar {
  margin: 0 auto;
  width: 100%;
  display: flex;

  .form-group {
    border: 1px solid var(--extensionsPickerSearchBorderColor);
    border-left: none;
    display: flex;
    flex-grow: 1;

    svg.search-icon {
      margin: 10px;
      width: 20px;
      font-size: 1.2rem;
    }
    &:focus-within {
      border-color: var(--extensionsPickerSearchBorderColorOnFocus);

      svg {
        color: var(--extensionsPickerSearchBorderColorOnFocus);
      }
    }
  }
  .filter-shortcut {
    .dropdown-item.list-item {
      width: 700px;
      height: auto;
      display: block;
      border: none;
      cursor: auto;
      line-height: 30px;

      span {
        display: inline-block;
        margin-left: 7px;
        font-size: 0.9rem;
        cursor: pointer;
        color: var(--extensionsPickerSearchBorderColorOnFocus);
        border: none;
        text-decoration: underline;
      }

      span.origin {

        &.current-origin {
          font-weight: bold;
        }
      }
    }
    .dropdown-item {
      font-weight: normal;
      line-height: 35px;
      height: 35px;
    }
  }

  .filter-shortcut-button {
    display: flex;
    cursor: pointer;
    background-color: transparent;
    color: var(--extensionsPickerSearchTextColor);
    line-height: 40px;
    font-weight: bold;
    padding: 0 10px;
    align-items: center;
    border: 1px solid var(--extensionsPickerSearchBorderColor);
    svg {
      font-size: 1rem;
      width: 20px;
      margin-left: 10px;
    }
  }

  input.form-control {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    width: 100%;
    background: transparent;
    color: var(--extensionsPickerSearchTextColor);
    font-family: var(--inputFont);
    border: none;
    outline: none;

    &:focus {
      outline: none;
    }
  }
}

