name: Build & Test
on:
  push:
  pull_request:
    types: [assigned, opened, synchronize, reopened, ready_for_review, edited]


env:
  # Workaround testsuite locale issue
  LANG: en_US.UTF-8

jobs:
  build-test:
    name: "Build & Test"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: n1hility/cancel-previous-runs@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21
      - name: Cache Maven Repository
        id: cache-maven
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
      - name: Ensure browsers are installed
        run: mvn exec:java -e -D exec.mainClass=com.microsoft.playwright.CLI -D exec.args="install chromium --with-deps"
      - name: Build
        run: |
          mvn -e -B -DskipTests=true clean package -Dlib -Dacceptance-test -Dcommunity-app
      - name: Test
        run: |
          mvn -e -B verify -Dlib -Dacceptance-test -Dcommunity-app
